<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <ServerUrl>http://YOUR DOMAINS/yunfu/AutoupdateService.xml</ServerUrl>
  <UpdateFileList>
    <LocalFile path="Yunfu.exe" lastver="0.9.8.0" size="191372" />
    <LocalFile path="YunfuBLL.dll" lastver="0.9.8.0" size="191372" />
    <LocalFile path="YunfuDAL.dll" lastver="0.9.8.0" size="191372" />
    <LocalFile path="YunfuModel.dll" lastver="0.9.8.0" size="191372" />
    <LocalFile path="YunfuTools.dll" lastver="0.9.8.0" size="191372" />
  </UpdateFileList>
</Config>